<!DOCTYPE html>
 <html lang="en">
    <head> 
        <title>About Us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
    </head>
    <body> 
        <header> 
            <h1>About <span>us</span></h1> 
            <p  id="p">🔥History of projects1213🔥</p>
        </header>
        <main>
        <h1>Our humble beginning</h1>
        <section class="section">
            <p class="p">Our story like most peoples was boring
                 until we started this as a side project </p> 
            <p class="p">Thus it began,weeks of hardwork and perseverance
                     led to this master piece. </p>
        </section>
        <br> 
        <section class="section">
            <p class="p">This mere side project turned into a
                         big cluster of websites and eventually a business </p>
            <p class="p">Thus ends the tale of the beginning of projects1213🔥 </p>
                     </section> 
        <h1>The creators</h1>
        <section>
            <p class="p">Nandakishore,A skilled web dev of
                         the age 12 who knows HTML,CSS,JS </p> 
            <p class="p">Shreyas vaid,who is a year older 
                        and knows NODE.JS,Mongo DB and also Lucid </p> </section>
        </main>                 
        <footer> <p id="bruv">© 2025 Projects1213.All rights reserved</p> </footer>
    </body> 
</html>