<!DOCTYPE html>
<html lang="en">    
    <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scripts Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='script.css') }}"
    </head>
    <body>
        <header>
        <h1>📜 Scripts</h1>
        <p>Useful tools, utilities, and automation scripts.</p>
        </header>

    <main class="scripts-container">
    <div class="script-card">
      <h2>🧪 HTML,CSS and JavaScript</h2>
      <p>Frontend Development with HTML,CSS and JavaScript</p>
      
    </div>

    <div class="script-card">
      <h2>🧹 Python</h2>
      <p>Backend with Flask and password Hashing</p>
      
    </div>

    <div class="script-card">
      <h2>🔐 SQL</h2>
      <p>Connected to code with mysql connector</p>
      
    </div>
  </main>

  <footer>
    <p>&copy; 2025 Projects1213 — Websites for all occasions 🚀</p>
  </footer>
</body>
</html>
